*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100vw;
    background-color: navy;
    padding: 10px;
    font-size: 2em;
    color: white;
}

.grid_body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 5px;
}

.product{
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

/* table{
    border: 1px solid black;
} */

table>*>*, table>*{
    padding:10px;
    border: 1px solid black;
}

.table_tab{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 5px;
    background-color: navy;
}

.table_tab>*{
    color: white;
}

.product_display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.product_display>*{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.cart_side{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    row-gap: 10px;
    grid-template-rows:auto 1fr auto;
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

.cart_list>*{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#cart_footer_header{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

button{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#clear_button{
    width: 75%;
}

.product_card{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;

}

#add_button{
    width: 75%;
}

nav{
    display: flex;

}

.select_nav{
    margin-left: auto;
}

a, a:visited{
    color: white;
    margin-left: 20px;
}

.nav_title{
    width: 200px;
}

.centre_50{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}

.new_product_form{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: navy;
}

.new_product_form>*{
    width: 50%;
    margin-left: 25%;
}

.white_heading{
    color: white;
    font-size: 2em;
}

.input_field{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.input_label{
    color: white;
}

.blue_box{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: navy;
    color: white;
}

.single_column_grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.centre_children_in_grid>*{
    display: flex;
    align-self: center;
    justify-self: center;
}

#amount_off_tab{
    text-align: center;
}

.purchase_button{
    margin-bottom: auto;
}

.product_card{
    height: auto;
}

img{
    width: 75%;
}